* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    margin: 0; }
  html h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    text-transform: uppercase;
    color: #152031;
    margin-bottom: 20px; }
  html h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    color: #21A074; }
  html body {
    background: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #031531;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; }
    @media only screen and (max-width: 1280px) {
      html body.hide {
        overflow: hidden; } }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #458FF6; }

.wrapper {
  overflow: hidden;
  flex-grow: 2;
  padding-bottom: 20px;
  padding-top: 12px; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  word-break: break-all; }

ul, li {
  list-style-type: none; }

.flex {
  display: flex; }

.f-align-center {
  align-items: center; }

.f-align-end {
  align-items: flex-end; }

.f-align-start {
  align-items: flex-start; }

.f-content-end {
  justify-content: flex-end; }

.f-content-start {
  justify-content: flex-start; }

.f-content-start-i {
  justify-content: flex-start !important; }

.f-space-between {
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center-i {
  display: flex !important;
  align-items: center;
  justify-content: center; }

.flex-1 {
  flex: 1; }

@media only screen and (max-width: 767px) {
  .flex-column-mob {
    flex-direction: column; } }

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto; }

.mt0i {
  margin-top: 0px !important; }

.mt20 {
  margin-top: 20px; }

@media only screen and (max-width: 767px) {
  .mt20m {
    margin-top: 20px; } }

.mt20i {
  margin-top: 20px !important; }

.mb10 {
  margin-bottom: 10px; }

@media only screen and (max-width: 991px) {
  .mb15m {
    margin-bottom: 15px; } }

.mb15 {
  margin-bottom: 15px; }

.mb25 {
  margin-bottom: 25px; }

.mt30 {
  margin-top: 30px; }

@media only screen and (max-width: 991px) {
  .mb30m {
    margin-bottom: 30px; } }

.mt35 {
  margin-top: 35px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb60 {
  margin-bottom: 60px; }

.m-0-auto {
  margin: 0 auto !important; }

a {
  cursor: pointer; }

.app .height-auto {
  height: auto; }

.opacity-50 {
  opacity: .5; }

ul, ol {
  padding: 0;
  margin: 0; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1260px !important;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1230px) {
    .container {
      padding-left: 0px !important;
      padding-right: 0px !important; } }

.hide .shadow {
  display: block; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1047;
  background: rgba(30, 38, 50, 0.65); }
  .shadow.active {
    display: block; }

.d-none {
  display: none !important; }

.main-step {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 80px 40px 100px;
  display: none; }
  .main-step.step-active {
    display: block; }
  .main-step .step-numbers {
    display: block;
    padding: 20px 0;
    color: #031531;
    opacity: 0.4; }
  .main-step .two-column {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main-step .two-column .column {
      width: 49%; }
  .main-step h2 {
    margin-bottom: 35px; }
  .main-step .sub-title {
    display: block;
    margin-bottom: 15px; }
  .main-step .btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    .main-step .btn-holder .btn + .btn {
      margin-left: 10px; }
  .main-step .room-comfort,
  .main-step .room-check {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .room-comfort .item,
    .main-step .room-check .item {
      display: flex;
      align-items: center; }
      .main-step .room-comfort .item + .item,
      .main-step .room-check .item + .item {
        margin-left: 15px; }
  .main-step .checkbox-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .checkbox-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }
  .main-step .result-box {
    font-weight: 600;
    font-size: 37px;
    line-height: 110%;
    color: #031531; }
  .main-step .facade-list,
  .main-step .roofing-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .facade-list .item,
    .main-step .roofing-list .item {
      display: flex;
      align-items: center;
      width: 32%; }
  .main-step .interior-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .interior-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }

body .btn, .app .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none !important;
  padding: 0px 50px;
  width: 300px;
  height: 70px;
  border-radius: 55px; }
  @media only screen and (max-width: 767px) {
    body .btn, .app .btn {
      width: 220px;
      padding: 0px 40px; } }
  @media only screen and (max-width: 379px) {
    body .btn, .app .btn {
      width: initial;
      padding: 0px 30px; } }
  body .btn span, .app .btn span {
    transition: all linear 0.5s; }
  body .btn:focus, .app .btn:focus {
    outline: none !important;
    box-shadow: none !important; }
  body .btn svg, .app .btn svg {
    display: block; }
    body .btn svg path, .app .btn svg path {
      transition: all linear 0.5s; }
  body .btn.btn-default, .app .btn.btn-default {
    background: #E9EEF4;
    border-radius: 55px;
    color: #545F6F; }
    body .btn.btn-default:hover, .app .btn.btn-default:hover {
      color: #458FF6; }
      body .btn.btn-default:hover svg path, .app .btn.btn-default:hover svg path {
        stroke: #458FF6; }
    body .btn.btn-default.close, .app .btn.btn-default.close {
      text-align: center; }
    @media only screen and (max-width: 767px) {
      body .btn.btn-default.btn-back, .app .btn.btn-default.btn-back {
        padding: 0;
        width: 70px;
        justify-content: center;
        border-radius: 50%; }
        body .btn.btn-default.btn-back span, .app .btn.btn-default.btn-back span {
          display: none; } }
  body .btn.btn-primary, .app .btn.btn-primary {
    background: #458FF6;
    box-shadow: 0px 4px 20px rgba(21, 32, 49, 0.05);
    color: #FFFFFF; }
    body .btn.btn-primary.disabled, .app .btn.btn-primary.disabled {
      cursor: initial;
      background: rgba(69, 143, 246, 0.25);
      position: relative; }
      body .btn.btn-primary.disabled:after, .app .btn.btn-primary.disabled:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        z-index: 2; }
      body .btn.btn-primary.disabled:hover, .app .btn.btn-primary.disabled:hover {
        background: rgba(69, 143, 246, 0.25); }
    body .btn.btn-primary.btn-select, .app .btn.btn-primary.btn-select {
      height: 50px;
      background: #458FF6;
      box-shadow: 0px 4px 20px rgba(21, 32, 49, 0.05);
      border-radius: 55px;
      width: 100%;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      padding: 0;
      letter-spacing: 0;
      text-transform: none;
      margin-top: auto;
      position: relative;
      transition: all linear 0.5s; }
    body .btn.btn-primary:hover, .app .btn.btn-primary:hover {
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
      box-shadow: 0px 4px 20px rgba(21, 32, 49, 0.05); }
  body .btn.btn-control, .app .btn.btn-control {
    background: #458FF6;
    box-shadow: 0px 4px 20px rgba(21, 32, 49, 0.05);
    border-radius: 55px;
    padding: 0 20px;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    width: initial;
    letter-spacing: initial;
    text-transform: none; }
    body .btn.btn-control svg, .app .btn.btn-control svg {
      display: block;
      margin-right: 10px; }
    body .btn.btn-control:hover, .app .btn.btn-control:hover {
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%); }
  body .btn.ico-del, .app .btn.ico-del {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    transition: all linear 0.5s; }
    body .btn.ico-del svg, .app .btn.ico-del svg {
      display: block; }
    body .btn.ico-del:hover, .app .btn.ico-del:hover {
      background: #458FF6 !important; }
      body .btn.ico-del:hover svg path, .app .btn.ico-del:hover svg path {
        stroke: #fff; }

input,
textarea,
select {
  font-size: 16px; }

form {
  width: 100%;
  margin: 0 auto; }
  form .form-list {
    padding-bottom: 30px; }
    form .form-list .item {
      padding: 20px 0;
      border-top: 1px solid #E9EEF4;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
      @media only screen and (max-width: 767px) {
        form .form-list .item input:not([type='submit']),
        form .form-list .item input:not([type='radio']),
        form .form-list .item input:not([type='checkbox']),
        form .form-list .item .ui-selectmenu-button,
        form .form-list .item select {
          width: 100%;
          margin-top: 10px; } }
      form .form-list .item:first-child {
        border-top: none;
        padding-top: 0; }
      form .form-list .item:last-child {
        padding-bottom: 0; }
  form label,
  form .label {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #152031;
    display: block; }
    form label .description,
    form .label .description {
      display: block;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #545F6F; }
  form textarea,
  form input:not([type='submit']),
  form input:not([type='radio']),
  form input:not([type='checkbox']),
  form .ui-selectmenu-button,
  form select {
    appearance: none;
    height: 60px;
    background: #E9EEF4;
    border-radius: 55px;
    padding: 18px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #545F6F;
    display: block;
    width: 300px;
    outline: none !important;
    position: relative;
    border: 1px solid #E9EEF4; }
    form textarea::placeholder,
    form input:not([type='submit'])::placeholder,
    form input:not([type='radio'])::placeholder,
    form input:not([type='checkbox'])::placeholder,
    form .ui-selectmenu-button::placeholder,
    form select::placeholder {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #545F6F; }
    form textarea.error,
    form input:not([type='submit']).error,
    form input:not([type='radio']).error,
    form input:not([type='checkbox']).error,
    form .ui-selectmenu-button.error,
    form select.error {
      border: 1px solid red; }
  form .ui-selectmenu-button {
    transition: all linear 0.5s;
    cursor: pointer; }
    form .ui-selectmenu-button:hover {
      color: #458FF6; }
    form .ui-selectmenu-button .ui-selectmenu-icon {
      position: absolute;
      top: 0;
      right: 30px;
      width: 15px;
      height: 100%;
      display: block;
      content: '';
      background: url("../image/arrow-select.svg") no-repeat 50% 50%; }
  form input::-webkit-outer-spin-button,
  form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  form input[type=number] {
    -moz-appearance: textfield; }
  form .check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px; }
    @media only screen and (max-width: 767px) {
      form .check-box {
        width: auto; } }
    form .check-box .radio {
      width: 50%; }
      @media only screen and (max-width: 767px) {
        form .check-box .radio {
          width: auto; }
          form .check-box .radio + .radio {
            margin-left: 30px; } }
  form .radio input {
    display: none; }
    form .radio input:checked + label:before {
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%); }
    form .radio input.error + label:after {
      border: 1px solid red; }
  form .radio label {
    padding-left: 34px;
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #545F6F;
    cursor: pointer; }
    form .radio label:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      background: #E9EEF4;
      border-radius: 50%;
      z-index: 1;
      border: 1px solid #E9EEF4;
      box-sizing: border-box; }
    form .radio label:before {
      position: absolute;
      top: 5px;
      left: 5px;
      display: block;
      content: '';
      width: 14px;
      height: 14px;
      background: #D5DDE7;
      border-radius: 50%;
      transition: all linear 0.5s;
      z-index: 2; }
  form .checkbox input {
    display: none; }
    form .checkbox input:checked + label:after {
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%); }
    form .checkbox input:checked + label:before {
      opacity: 1; }
    form .checkbox input.error + label:after {
      border: 1px solid red; }
  form .checkbox label {
    padding-left: 34px;
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #545F6F;
    cursor: pointer; }
    form .checkbox label a {
      color: #458FF6;
      text-decoration: underline; }
      form .checkbox label a:hover {
        text-decoration: none; }
    form .checkbox label:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      background: #FFFFFF;
      border-radius: 50%;
      z-index: 1;
      transition: all linear 0.5s;
      border: 1px solid #FFFFFF;
      box-sizing: border-box; }
    form .checkbox label:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      background: url("../image/check.svg") no-repeat 50% 50%;
      border-radius: 50%;
      transition: all linear 0.5s;
      opacity: 0;
      z-index: 2; }
  form .term-check {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    form .term-check .checkbox label:after {
      background: #D5DDE7;
      transition: all linear 0s; }

.ui-selectmenu-menu {
  padding: 5px 0 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 99; }

.scrollbar-select .scroll-element.scroll-y.scroll-scrolly_visible {
  top: 12px;
  right: 10px;
  height: calc(100% - 24px); }

.scrollbar-select .ui-menu.scroll-wrapper {
  max-height: 200px;
  padding: 20px 0 !important; }

.scrollbar-select .ui-menu.scroll-wrapper .ui-menu {
  padding: 0 20px 0;
  border-radius: 0px; }

.ui-selectmenu-menu .ui-menu {
  overflow: auto;
  overflow-x: hidden;
  padding: 20px 30px;
  background: #E9EEF4;
  border-radius: 20px; }
  .ui-selectmenu-menu .ui-menu li {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #545F6F;
    transition: all linear 0.5s;
    cursor: pointer; }
    .ui-selectmenu-menu .ui-menu li + li {
      margin-top: 10px; }
    .ui-selectmenu-menu .ui-menu li div.ui-state-active {
      color: #458FF6; }
    .ui-selectmenu-menu .ui-menu li:hover {
      color: #458FF6; }

.ui-selectmenu-open {
  display: block; }

.ui-selectmenu-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap; }

/*# sourceMappingURL=all.css.map */
