* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    margin: 0; }
  html h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    text-transform: uppercase;
    color: #152031;
    margin-bottom: 20px; }
  html h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    color: #21A074; }
    @media only screen and (max-width: 640px) {
      html h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 110%; } }
  html body {
    background: #F5F5F5;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #031531;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; }
    @media only screen and (max-width: 1280px) {
      html body.hide {
        overflow: hidden; } }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #458FF6; }

.wrapper {
  overflow: hidden;
  flex-grow: 2;
  padding-bottom: 20px;
  padding-top: 12px; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  word-break: break-all; }

ul, li {
  list-style-type: none; }

.flex {
  display: flex; }

.f-align-center {
  align-items: center; }

.f-align-end {
  align-items: flex-end; }

.f-align-start {
  align-items: flex-start; }

.f-content-end {
  justify-content: flex-end; }

.f-content-start {
  justify-content: flex-start; }

.f-content-start-i {
  justify-content: flex-start !important; }

.f-space-between {
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center-i {
  display: flex !important;
  align-items: center;
  justify-content: center; }

.flex-1 {
  flex: 1; }

@media only screen and (max-width: 767px) {
  .flex-column-mob {
    flex-direction: column; } }

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto; }

.mt0i {
  margin-top: 0px !important; }

.mt20 {
  margin-top: 20px; }

@media only screen and (max-width: 767px) {
  .mt20m {
    margin-top: 20px; } }

.mt20i {
  margin-top: 20px !important; }

.mb10 {
  margin-bottom: 10px; }

@media only screen and (max-width: 991px) {
  .mb15m {
    margin-bottom: 15px; } }

.mb15 {
  margin-bottom: 15px; }

.mb25 {
  margin-bottom: 25px; }

.mt30 {
  margin-top: 30px; }

@media only screen and (max-width: 991px) {
  .mb30m {
    margin-bottom: 30px; } }

.mt35 {
  margin-top: 35px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb60 {
  margin-bottom: 60px; }

.m-0-auto {
  margin: 0 auto !important; }

a {
  cursor: pointer; }

.app .height-auto {
  height: auto; }

.opacity-50 {
  opacity: .5; }

ul, ol {
  padding: 0;
  margin: 0; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1260px !important;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1230px) {
    .container {
      padding-left: 0px !important;
      padding-right: 0px !important; } }

.hide .shadow {
  display: block; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1047;
  background: rgba(30, 38, 50, 0.65); }
  .shadow.active {
    display: block; }

.d-none {
  display: none !important; }

.banner {
  max-width: 1640px;
  background: url("../image/banner/bg-banner.png") no-repeat calc(100% + 93px) calc(100% - 92px);
  padding: 90px 0 0;
  margin: 0 auto 115px;
  width: 100%; }
  @media only screen and (max-width: 1499px) {
    .banner {
      padding: 90px 15px 0; } }
  @media only screen and (max-width: 1199px) {
    .banner {
      background-size: 72% auto;
      background-position: 100% calc(100% - 55px); } }
  @media only screen and (max-width: 991px) {
    .banner {
      background-size: 720px 480px; } }
  @media only screen and (max-width: 767px) {
    .banner {
      background-position: 0 calc(100% - 55px); } }
  .banner .container-banner {
    max-width: 1260px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #031531;
    width: 100%; }
    .banner .container-banner h1 {
      font-weight: 400;
      font-size: 72px;
      line-height: 93%;
      letter-spacing: -0.035em;
      color: #031531;
      margin-bottom: 23px; }
      @media only screen and (max-width: 767px) {
        .banner .container-banner h1 {
          font-size: 40px;
          line-height: 85%;
          margin-bottom: 12px; } }
      .banner .container-banner h1 span {
        color: #21a074; }
    .banner .container-banner p {
      margin: 0; }
    .banner .container-banner .btn {
      width: auto;
      padding: 0 30px;
      min-height: 53px;
      margin-top: 60px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: none;
      color: #FFFFFF;
      display: inline-flex; }
      @media only screen and (max-width: 767px) {
        .banner .container-banner .btn {
          margin-top: 30px; } }
    .banner .container-banner .top {
      max-width: 775px;
      margin-bottom: 78px; }
      @media only screen and (max-width: 767px) {
        .banner .container-banner .top {
          margin-bottom: 184px; } }
    .banner .container-banner .bottom {
      padding-right: 182px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      border-bottom: 1px solid #D1D1D1; }
      @media only screen and (max-width: 1199px) {
        .banner .container-banner .bottom {
          padding-right: 0;
          justify-content: center;
          border-bottom: none; } }
      .banner .container-banner .bottom .item {
        padding: 20px 40px 30px;
        width: 227px;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        background: #22473A;
        border-radius: 5px 5px 0px 0px; }
        @media only screen and (max-width: 767px) {
          .banner .container-banner .bottom .item {
            padding-left: 0;
            padding-right: 0;
            width: calc(100% / 3 - 8px);
            font-size: 14px;
            line-height: 100%; } }
        .banner .container-banner .bottom .item + .item {
          margin-left: 20px; }
          @media only screen and (max-width: 767px) {
            .banner .container-banner .bottom .item + .item {
              margin-left: 8px; } }
        .banner .container-banner .bottom .item:nth-child(1) {
          min-height: 125px; }
        .banner .container-banner .bottom .item:nth-child(2) {
          min-height: 170px; }
        .banner .container-banner .bottom .item:nth-child(3) {
          min-height: 215px; }
        .banner .container-banner .bottom .item .title {
          margin-bottom: 7px;
          display: block;
          font-weight: 400;
          font-size: 34px;
          line-height: 101%;
          text-align: center;
          color: #FFFFFF; }
          @media only screen and (max-width: 767px) {
            .banner .container-banner .bottom .item .title {
              font-size: 25px;
              line-height: 101%; } }
        .banner .container-banner .bottom .item img {
          display: block;
          margin: 15px auto 0; }

.steps {
  padding: 84px 15px 0;
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .steps {
      padding-top: 53px; } }
  .steps h2.steps-title {
    position: absolute;
    top: 0;
    left: 59px;
    background: #21A074;
    border-radius: 4px;
    padding: 24px 30px 39px;
    font-weight: 400;
    font-size: 35px;
    line-height: 105%;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    max-width: 500px; }
    @media only screen and (max-width: 640px) {
      .steps h2.steps-title {
        max-width: initial;
        left: 26px;
        right: 29px;
        padding: 15px 20px 19px;
        font-weight: 400;
        font-size: 22px;
        line-height: 115%;
        letter-spacing: -0.035em;
        color: #FFFFFF; } }

.steps {
  margin-bottom: 100px; }

.main-step {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 80px 40px 100px;
  display: none; }
  @media only screen and (max-width: 640px) {
    .main-step {
      padding: 45px 20px 20px 25px; } }
  .main-step.step-active {
    display: block; }
  .main-step .step-numbers {
    display: block;
    padding: 0 0 20px 0;
    color: #031531;
    opacity: 0.4;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%; }
    @media only screen and (max-width: 640px) {
      .main-step .step-numbers {
        padding-bottom: 6px; } }
  .main-step .two-column {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main-step .two-column .column {
      width: 49%; }
      @media only screen and (max-width: 767px) {
        .main-step .two-column .column {
          width: 100%; } }
  .main-step h2 {
    margin-bottom: 35px; }
    @media only screen and (max-width: 640px) {
      .main-step h2 {
        margin-bottom: 20px; } }
  .main-step .sub-title {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%; }
  .main-step .btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    @media only screen and (max-width: 640px) {
      .main-step .btn-holder {
        justify-content: flex-end; } }
    .main-step .btn-holder .btn + .btn {
      margin-left: 10px; }
    @media only screen and (max-width: 640px) {
      .main-step .btn-holder.btn-holder-first-step {
        margin-top: -35px; } }
  .main-step .room-comfort,
  .main-step .room-check {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .room-comfort .item,
    .main-step .room-check .item {
      display: flex;
      align-items: center; }
      .main-step .room-comfort .item + .item,
      .main-step .room-check .item + .item {
        margin-left: 15px; }
  .main-step .checkbox-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .checkbox-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }
  .main-step .result-box {
    font-weight: 600;
    font-size: 37px;
    line-height: 110%;
    color: #031531;
    text-align: right; }
    @media only screen and (max-width: 640px) {
      .main-step .result-box {
        font-weight: 600;
        font-size: 22.3211px;
        line-height: 110%;
        text-align: left; } }
    .main-step .result-box img {
      display: block;
      margin: 0 auto 16px;
      max-width: 100%;
      height: auto; }
  .main-step .facade-list,
  .main-step .roofing-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .facade-list .item,
    .main-step .roofing-list .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 32%; }
      .main-step .facade-list .item img,
      .main-step .roofing-list .item img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px; }
      .main-step .facade-list .item input,
      .main-step .roofing-list .item input {
        display: none; }
      .main-step .facade-list .item label,
      .main-step .roofing-list .item label {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #031531;
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 3px;
        transition: all linear 0.5s; }
        @media only screen and (max-width: 767px) {
          .main-step .facade-list .item label,
          .main-step .roofing-list .item label {
            font-weight: 400;
            font-size: 20px;
            line-height: 110%; } }
      .main-step .facade-list .item input:checked + label,
      .main-step .roofing-list .item input:checked + label {
        border: 2px solid #21A074; }
      @media only screen and (max-width: 767px) {
        .main-step .facade-list .item,
        .main-step .roofing-list .item {
          width: 100%; } }
  .main-step .interior-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .interior-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }
      .main-step .interior-list .item img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px; }
      .main-step .interior-list .item input {
        display: none; }
      .main-step .interior-list .item label {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #031531;
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 3px;
        transition: all linear 0.5s; }
        @media only screen and (max-width: 767px) {
          .main-step .interior-list .item label {
            font-weight: 400;
            font-size: 20px;
            line-height: 110%; } }
      .main-step .interior-list .item input:checked + label {
        border: 2px solid #21A074; }
      @media only screen and (max-width: 640px) {
        .main-step .interior-list .item {
          width: 100%; } }
  .main-step .payment-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px; }
    @media only screen and (max-width: 640px) {
      .main-step .payment-list {
        padding-bottom: 20px; } }
    .main-step .payment-list .item {
      width: calc(50% - 25px); }
      @media only screen and (max-width: 640px) {
        .main-step .payment-list .item {
          width: 100%; }
          .main-step .payment-list .item + .item {
            margin: 20px; } }
      .main-step .payment-list .item input {
        display: none; }
      .main-step .payment-list .item label {
        text-align: center;
        display: block;
        width: 100%;
        padding: 19px 25px 35px;
        border: 2px solid #DCDCDC;
        border-radius: 3px;
        transition: all linear 0.5s; }
        @media only screen and (max-width: 640px) {
          .main-step .payment-list .item label {
            text-align: left;
            padding: 20px 17px 17px;
            border: 2px solid #DCDCDC; } }
        .main-step .payment-list .item label strong {
          font-weight: 400;
          font-size: 35px;
          line-height: 110%;
          letter-spacing: -0.035em;
          color: #031531;
          display: block;
          margin-bottom: 18px; }
          @media only screen and (max-width: 640px) {
            .main-step .payment-list .item label strong {
              font-weight: 600;
              font-size: 20px;
              line-height: 110%;
              margin-bottom: 10px; } }
        .main-step .payment-list .item label span {
          display: block;
          font-weight: 400;
          font-size: 17px;
          line-height: 120%;
          color: #000000; }
          @media only screen and (max-width: 640px) {
            .main-step .payment-list .item label span {
              font-weight: 400;
              font-size: 16px;
              line-height: 123%; } }
      .main-step .payment-list .item input:checked + label {
        border: 2px solid #21A074; }

.team-box {
  max-width: 1260px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
  width: 100%; }
  @media only screen and (max-width: 1499px) {
    .team-box {
      padding: 0 15px 0; } }
  @media only screen and (max-width: 1259px) {
    .team-box {
      flex-direction: column; } }
  .team-box .title-column {
    width: 34.35%; }
    @media only screen and (max-width: 1259px) {
      .team-box .title-column {
        width: 100%; } }
    .team-box .title-column h2 {
      font-weight: 400;
      font-size: 45px;
      line-height: 100%;
      letter-spacing: -0.035em;
      color: #031531; }
      @media only screen and (max-width: 1259px) {
        .team-box .title-column h2 {
          margin-bottom: 15px; } }
      @media only screen and (max-width: 767px) {
        .team-box .title-column h2 {
          font-size: 27px;
          line-height: 100%; } }
  .team-box .slider-column {
    position: relative;
    width: 59.7%; }
    @media only screen and (max-width: 1259px) {
      .team-box .slider-column {
        width: 100%; } }
    .team-box .slider-column .text {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: #01193E;
      margin-bottom: 32px;
      max-width: 600px; }
      @media only screen and (max-width: 1259px) {
        .team-box .slider-column .text {
          max-width: 100%; } }
      @media only screen and (max-width: 767px) {
        .team-box .slider-column .text {
          font-size: 16px;
          line-height: 120%; } }
      .team-box .slider-column .text p {
        margin: 0; }
        .team-box .slider-column .text p + p {
          margin-top: 20px; }
    .team-box .slider-column .team-slider {
      position: relative; }
      @media only screen and (max-width: 1259px) {
        .team-box .slider-column .team-slider {
          margin: 0 15px; } }
      @media only screen and (max-width: 767px) {
        .team-box .slider-column .team-slider {
          padding-bottom: 86px; } }
      .team-box .slider-column .team-slider:after {
        position: absolute;
        top: -17px;
        left: -30px;
        z-index: 99;
        width: 53px;
        height: 53px;
        background: #21A074;
        border-radius: 3px;
        display: block;
        content: ''; }
      .team-box .slider-column .team-slider .slick-arrow {
        position: absolute;
        top: 0;
        display: block;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        width: 17px;
        height: 31px;
        min-width: initial;
        min-height: initial;
        padding: 0; }
        @media only screen and (max-width: 767px) {
          .team-box .slider-column .team-slider .slick-arrow {
            top: initial;
            bottom: 15px; } }
        .team-box .slider-column .team-slider .slick-arrow svg {
          display: block;
          margin: 0; }
        .team-box .slider-column .team-slider .slick-arrow:hover svg path {
          stroke: #21a074; }
        .team-box .slider-column .team-slider .slick-arrow.slick-prev {
          right: 38px; }
          @media only screen and (max-width: 767px) {
            .team-box .slider-column .team-slider .slick-arrow.slick-prev {
              right: 45px; } }
        .team-box .slider-column .team-slider .slick-arrow.slick-next {
          right: 0; }
      .team-box .slider-column .team-slider .slick-slide > div {
        width: 100%; }
      .team-box .slider-column .team-slider .slide .holder-slide {
        display: flex;
        justify-content: space-between; }
        @media only screen and (max-width: 767px) {
          .team-box .slider-column .team-slider .slide .holder-slide {
            flex-direction: column; } }
        .team-box .slider-column .team-slider .slide .holder-slide .img {
          width: 52.95%;
          min-height: 440px;
          background: #fff; }
          @media only screen and (max-width: 767px) {
            .team-box .slider-column .team-slider .slide .holder-slide .img {
              width: 100%;
              min-height: 50vw; } }
          .team-box .slider-column .team-slider .slide .holder-slide .img img {
            display: block;
            max-width: 100%;
            height: auto; }
            @media only screen and (max-width: 1259px) {
              .team-box .slider-column .team-slider .slide .holder-slide .img img {
                width: 100%; } }
        .team-box .slider-column .team-slider .slide .holder-slide .info {
          width: 40.28%;
          padding-top: 114px;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: #031531; }
          @media only screen and (max-width: 767px) {
            .team-box .slider-column .team-slider .slide .holder-slide .info {
              width: 100%;
              padding-top: 10px; } }
          .team-box .slider-column .team-slider .slide .holder-slide .info .post {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            text-transform: uppercase;
            color: #031531; }
          .team-box .slider-column .team-slider .slide .holder-slide .info .name {
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            color: #21A074;
            margin-bottom: 15px;
            display: block; }
          .team-box .slider-column .team-slider .slide .holder-slide .info p {
            margin: 0; }
    .team-box .slider-column .holder-slider-nav {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40.28%;
      overflow: hidden;
      height: 87px; }
      @media only screen and (max-width: 767px) {
        .team-box .slider-column .holder-slider-nav {
          width: calc(100% - 82px);
          max-width: 250px;
          right: initial;
          left: 0;
          height: 50px; } }
    .team-box .slider-column .team-slider-nav {
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% + 66px); }
      .team-box .slider-column .team-slider-nav .slide {
        padding: 0 8px; }
        .team-box .slider-column .team-slider-nav .slide .img {
          width: 87px;
          height: 87px;
          background: #fff;
          overflow: hidden;
          margin: 0 auto;
          cursor: pointer; }
          @media only screen and (max-width: 767px) {
            .team-box .slider-column .team-slider-nav .slide .img {
              width: 50px;
              height: 50px; } }
        .team-box .slider-column .team-slider-nav .slide img {
          display: block;
          max-width: 87px; }
          @media only screen and (max-width: 767px) {
            .team-box .slider-column .team-slider-nav .slide img {
              max-width: 50px; } }

body .btn, .app .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  outline: none !important;
  padding: 0px 40px;
  min-width: 130px;
  min-height: 45px;
  border-radius: 3px; }
  @media only screen and (max-width: 379px) {
    body .btn, .app .btn {
      width: initial;
      padding: 0px 30px; } }
  body .btn span, .app .btn span {
    transition: all linear 0.5s; }
  body .btn:focus, .app .btn:focus {
    outline: none !important;
    box-shadow: none !important; }
  body .btn svg, .app .btn svg {
    display: block; }
    body .btn svg path, .app .btn svg path {
      transition: all linear 0.5s; }
  body .btn.btn-default, .app .btn.btn-default {
    background: #fff;
    color: #21A074;
    border: 1px solid #21A074; }
  body .btn.btn-primary, .app .btn.btn-primary {
    background: #21A074;
    color: #FFFFFF; }
    body .btn.btn-primary[disabled], body .btn.btn-primary.disabled, .app .btn.btn-primary[disabled], .app .btn.btn-primary.disabled {
      cursor: initial;
      background: rgba(33, 160, 116, 0.25);
      position: relative; }
      body .btn.btn-primary[disabled]:after, body .btn.btn-primary.disabled:after, .app .btn.btn-primary[disabled]:after, .app .btn.btn-primary.disabled:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        z-index: 2; }

input,
textarea,
select {
  font-size: 16px; }

.radio input {
  display: none; }
  .radio input:checked + label:before {
    background: #031531; }
  .radio input.error + label:after {
    border: 1px solid red; }
.radio label {
  padding-left: 36px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #031531;
  cursor: pointer;
  min-height: 28px; }
  .radio label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 1;
    box-sizing: border-box;
    background: #EFEFEF;
    border: 1px solid #031531; }
  .radio label:before {
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50%;
    transition: all linear 0.2s;
    z-index: 2; }

.radio-comfort {
  position: relative; }
  .radio-comfort input {
    display: none; }
    .radio-comfort input:checked + label {
      background: #21A074;
      border-radius: 3px;
      border: 1px solid #21A074;
      color: #fff; }
    .radio-comfort input.error + label {
      border: 1px solid red; }
  .radio-comfort label {
    padding: 13px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    min-height: 37px;
    border: 1px solid #031531;
    border-radius: 3px;
    transition: all linear 0.2s; }
    .radio-comfort label i {
      position: absolute;
      background: #031531;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -6px;
      right: -7px; }
      .radio-comfort label i svg {
        display: block; }
    .radio-comfort label .info {
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      padding: 14px;
      font-weight: 400;
      font-size: 14px;
      line-height: 110%;
      color: #031531;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      width: 240px;
      z-index: 10; }

.checkbox input {
  display: none; }
  .checkbox input:checked + label:before {
    background: #21A074; }
  .checkbox input[disabled] + label {
    cursor: initial;
    opacity: 0.7; }
    .checkbox input[disabled] + label:after {
      opacity: 0.7; }
    .checkbox input[disabled] + label:before {
      background: #21A074;
      opacity: 0.7; }
  .checkbox input.error + label:after {
    border: 1px solid red; }
.checkbox label {
  padding-left: 27px;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #031531;
  cursor: pointer; }
  .checkbox label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    z-index: 1;
    transition: all linear 0.2s;
    box-sizing: border-box;
    border: 1px solid #031531;
    border-radius: 2px; }
  .checkbox label:before {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    background: transparent;
    border-radius: 2px;
    transition: all linear 0.2s;
    z-index: 2; }

.form-calc {
  background: #21A074 url("../image/bg-form.png") no-repeat 100% 100%;
  border-radius: 4px;
  padding: 30px; }
  .form-calc h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 105%;
    text-align: center;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    max-width: 624px;
    width: 100%;
    margin: 0 auto 30px; }
  .form-calc .input-list {
    max-width: 475px;
    width: 100%;
    margin: 0 auto; }
    .form-calc .input-list .item + .item {
      margin-top: 10px; }
    .form-calc .input-list .item input {
      height: 45px;
      width: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      background: none;
      outline: none;
      padding: 11px 17px 12px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF; }
      .form-calc .input-list .item input::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF; }
  .form-calc input[type="submit"] {
    cursor: pointer;
    height: 45px;
    background: #FFFFFF;
    border-radius: 3px;
    width: initial;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 11px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    margin: 20px auto 0; }

/*# sourceMappingURL=all.css.map */
