* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    margin: 0; }
  html h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    text-transform: uppercase;
    color: #152031;
    margin-bottom: 20px; }
  html h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    color: #21A074; }
  html body {
    background: #CDCDCD;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #031531;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; }
    @media only screen and (max-width: 1280px) {
      html body.hide {
        overflow: hidden; } }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #458FF6; }

.wrapper {
  overflow: hidden;
  flex-grow: 2;
  padding-bottom: 20px;
  padding-top: 12px; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  word-break: break-all; }

ul, li {
  list-style-type: none; }

.flex {
  display: flex; }

.f-align-center {
  align-items: center; }

.f-align-end {
  align-items: flex-end; }

.f-align-start {
  align-items: flex-start; }

.f-content-end {
  justify-content: flex-end; }

.f-content-start {
  justify-content: flex-start; }

.f-content-start-i {
  justify-content: flex-start !important; }

.f-space-between {
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center-i {
  display: flex !important;
  align-items: center;
  justify-content: center; }

.flex-1 {
  flex: 1; }

@media only screen and (max-width: 767px) {
  .flex-column-mob {
    flex-direction: column; } }

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto; }

.mt0i {
  margin-top: 0px !important; }

.mt20 {
  margin-top: 20px; }

@media only screen and (max-width: 767px) {
  .mt20m {
    margin-top: 20px; } }

.mt20i {
  margin-top: 20px !important; }

.mb10 {
  margin-bottom: 10px; }

@media only screen and (max-width: 991px) {
  .mb15m {
    margin-bottom: 15px; } }

.mb15 {
  margin-bottom: 15px; }

.mb25 {
  margin-bottom: 25px; }

.mt30 {
  margin-top: 30px; }

@media only screen and (max-width: 991px) {
  .mb30m {
    margin-bottom: 30px; } }

.mt35 {
  margin-top: 35px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb60 {
  margin-bottom: 60px; }

.m-0-auto {
  margin: 0 auto !important; }

a {
  cursor: pointer; }

.app .height-auto {
  height: auto; }

.opacity-50 {
  opacity: .5; }

ul, ol {
  padding: 0;
  margin: 0; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1260px !important;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1230px) {
    .container {
      padding-left: 0px !important;
      padding-right: 0px !important; } }

.hide .shadow {
  display: block; }

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1047;
  background: rgba(30, 38, 50, 0.65); }
  .shadow.active {
    display: block; }

.d-none {
  display: none !important; }

.steps {
  padding: 84px 0 0;
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  position: relative; }
  .steps h2.steps-title {
    position: absolute;
    top: 0;
    left: 44px;
    background: #21A074;
    border-radius: 4px;
    padding: 24px 30px 39px;
    font-weight: 400;
    font-size: 35px;
    line-height: 105%;
    letter-spacing: -0.035em;
    color: #FFFFFF; }

.main-step {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 80px 40px 100px;
  display: none; }
  .main-step.step-active {
    display: block; }
  .main-step .step-numbers {
    display: block;
    padding: 20px 0;
    color: #031531;
    opacity: 0.4; }
  .main-step .two-column {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main-step .two-column .column {
      width: 49%; }
  .main-step h2 {
    margin-bottom: 35px; }
  .main-step .sub-title {
    display: block;
    margin-bottom: 15px; }
  .main-step .btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    .main-step .btn-holder .btn + .btn {
      margin-left: 10px; }
  .main-step .room-comfort,
  .main-step .room-check {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .room-comfort .item,
    .main-step .room-check .item {
      display: flex;
      align-items: center; }
      .main-step .room-comfort .item + .item,
      .main-step .room-check .item + .item {
        margin-left: 15px; }
  .main-step .checkbox-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .checkbox-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }
  .main-step .result-box {
    font-weight: 600;
    font-size: 37px;
    line-height: 110%;
    color: #031531;
    text-align: right; }
    .main-step .result-box img {
      display: block;
      margin: 0 auto 16px;
      max-width: 100%;
      height: auto; }
  .main-step .facade-list,
  .main-step .roofing-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .facade-list .item,
    .main-step .roofing-list .item {
      display: flex;
      align-items: center;
      width: 32%; }
  .main-step .interior-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .interior-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }

body .btn, .app .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  outline: none !important;
  padding: 0px 40px;
  min-width: 130px;
  min-height: 45px;
  border-radius: 3px; }
  @media only screen and (max-width: 379px) {
    body .btn, .app .btn {
      width: initial;
      padding: 0px 30px; } }
  body .btn span, .app .btn span {
    transition: all linear 0.5s; }
  body .btn:focus, .app .btn:focus {
    outline: none !important;
    box-shadow: none !important; }
  body .btn svg, .app .btn svg {
    display: block; }
    body .btn svg path, .app .btn svg path {
      transition: all linear 0.5s; }
  body .btn.btn-default, .app .btn.btn-default {
    background: #fff;
    color: #21A074;
    border: 1px solid #21A074; }
  body .btn.btn-primary, .app .btn.btn-primary {
    background: #21A074;
    color: #FFFFFF; }
    body .btn.btn-primary[disabled], body .btn.btn-primary.disabled, .app .btn.btn-primary[disabled], .app .btn.btn-primary.disabled {
      cursor: initial;
      background: rgba(33, 160, 116, 0.25);
      position: relative; }
      body .btn.btn-primary[disabled]:after, body .btn.btn-primary.disabled:after, .app .btn.btn-primary[disabled]:after, .app .btn.btn-primary.disabled:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        z-index: 2; }

input,
textarea,
select {
  font-size: 16px; }

.radio input {
  display: none; }
  .radio input:checked + label:before {
    background: #031531; }
  .radio input.error + label:after {
    border: 1px solid red; }
.radio label {
  padding-left: 36px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #031531;
  cursor: pointer;
  min-height: 28px; }
  .radio label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 1;
    box-sizing: border-box;
    background: #EFEFEF;
    border: 1px solid #031531; }
  .radio label:before {
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 50%;
    transition: all linear 0.5s;
    z-index: 2; }

.radio-comfort input {
  display: none; }
  .radio-comfort input:checked + label {
    background: #21A074;
    border-radius: 3px;
    border: 1px solid #21A074;
    color: #fff; }
  .radio-comfort input.error + label {
    border: 1px solid red; }
.radio-comfort label {
  padding: 13px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #031531;
  cursor: pointer;
  min-height: 37px;
  border: 1px solid #031531;
  border-radius: 3px;
  transition: all linear 0.5s; }

.checkbox input {
  display: none; }
  .checkbox input:checked + label:before {
    background: #21A074; }
  .checkbox input.error + label:after {
    border: 1px solid red; }
.checkbox label {
  padding-left: 27px;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #031531;
  cursor: pointer; }
  .checkbox label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    z-index: 1;
    transition: all linear 0.5s;
    box-sizing: border-box;
    border: 1px solid #031531;
    border-radius: 2px; }
  .checkbox label:before {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    background: transparent;
    border-radius: 2px;
    transition: all linear 0.5s;
    z-index: 2; }

/*# sourceMappingURL=all.css.map */
