@import "../../_helpers/variables";
body, .app {
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    outline: none !important;

    padding: 0px 40px;
    min-width: 130px;
    min-height: 45px;
    border-radius: 3px;
    @media only screen and (max-width: $responsive-size-stand-mobile) {
      //width: 220px;
    }
    @media only screen and (max-width: 379px) {
      width: initial;
      padding: 0px 30px;
    }

    span {
      transition: all linear 0.5s;
    }
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    svg {
      display: block;
      path {
        transition: all linear 0.5s;

      }
    }

    &.btn-default {
      background: #fff;
      color: #21A074;
      border: 1px solid #21A074;

      &:hover {

      }
    }

    &.btn-primary {
      background: #21A074;
      color: #FFFFFF;
      &[disabled],
      &.disabled {
        cursor: initial;
        background: rgba(33, 160, 116, 0.25);
        position: relative;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          content: '';
          z-index: 2;
        }
        &:hover {

        }
      }

    }
  }
}
