.steps {
  padding: 84px 15px 0;
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .steps {
      padding-top: 53px; } }
  .steps h2.steps-title {
    position: absolute;
    top: 0;
    left: 59px;
    background: #21A074;
    border-radius: 4px;
    padding: 24px 30px 39px;
    font-weight: 400;
    font-size: 35px;
    line-height: 105%;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    max-width: 500px; }
    @media only screen and (max-width: 640px) {
      .steps h2.steps-title {
        max-width: initial;
        left: 26px;
        right: 29px;
        padding: 15px 20px 19px;
        font-weight: 400;
        font-size: 22px;
        line-height: 115%;
        letter-spacing: -0.035em;
        color: #FFFFFF; } }

.main-step {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 80px 40px 100px;
  display: none; }
  @media only screen and (max-width: 640px) {
    .main-step {
      padding: 45px 20px 20px 25px; } }
  .main-step.step-active {
    display: block; }
  .main-step .step-numbers {
    display: block;
    padding: 0 0 20px 0;
    color: #031531;
    opacity: 0.4;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%; }
    @media only screen and (max-width: 640px) {
      .main-step .step-numbers {
        padding-bottom: 6px; } }
  .main-step .two-column {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main-step .two-column .column {
      width: 49%; }
      @media only screen and (max-width: 767px) {
        .main-step .two-column .column {
          width: 100%; } }
  .main-step h2 {
    margin-bottom: 35px; }
    @media only screen and (max-width: 640px) {
      .main-step h2 {
        margin-bottom: 20px; } }
  .main-step .sub-title {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%; }
  .main-step .btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    @media only screen and (max-width: 640px) {
      .main-step .btn-holder {
        justify-content: flex-end; } }
    .main-step .btn-holder .btn + .btn {
      margin-left: 10px; }
    @media only screen and (max-width: 640px) {
      .main-step .btn-holder.btn-holder-first-step {
        margin-top: -35px; } }
  .main-step .room-comfort,
  .main-step .room-check {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .room-comfort .item,
    .main-step .room-check .item {
      display: flex;
      align-items: center; }
      .main-step .room-comfort .item + .item,
      .main-step .room-check .item + .item {
        margin-left: 15px; }
  .main-step .checkbox-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .checkbox-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }
  .main-step .result-box {
    font-weight: 600;
    font-size: 37px;
    line-height: 110%;
    color: #031531;
    text-align: right; }
    @media only screen and (max-width: 640px) {
      .main-step .result-box {
        font-weight: 600;
        font-size: 22.3211px;
        line-height: 110%;
        text-align: left; } }
    .main-step .result-box img {
      display: block;
      margin: 0 auto 16px;
      max-width: 100%;
      height: auto; }
  .main-step .facade-list,
  .main-step .roofing-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .facade-list .item,
    .main-step .roofing-list .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 32%; }
      .main-step .facade-list .item img,
      .main-step .roofing-list .item img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px; }
      .main-step .facade-list .item input,
      .main-step .roofing-list .item input {
        display: none; }
      .main-step .facade-list .item label,
      .main-step .roofing-list .item label {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #031531;
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 3px;
        transition: all linear 0.5s; }
        @media only screen and (max-width: 767px) {
          .main-step .facade-list .item label,
          .main-step .roofing-list .item label {
            font-weight: 400;
            font-size: 20px;
            line-height: 110%; } }
      .main-step .facade-list .item input:checked + label,
      .main-step .roofing-list .item input:checked + label {
        border: 2px solid #21A074; }
      @media only screen and (max-width: 767px) {
        .main-step .facade-list .item,
        .main-step .roofing-list .item {
          width: 100%; } }
  .main-step .interior-list {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-step .interior-list .item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px; }
      .main-step .interior-list .item img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px; }
      .main-step .interior-list .item input {
        display: none; }
      .main-step .interior-list .item label {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #031531;
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 3px;
        transition: all linear 0.5s; }
        @media only screen and (max-width: 767px) {
          .main-step .interior-list .item label {
            font-weight: 400;
            font-size: 20px;
            line-height: 110%; } }
      .main-step .interior-list .item input:checked + label {
        border: 2px solid #21A074; }
      @media only screen and (max-width: 640px) {
        .main-step .interior-list .item {
          width: 100%; } }
  .main-step .payment-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px; }
    @media only screen and (max-width: 640px) {
      .main-step .payment-list {
        padding-bottom: 20px; } }
    .main-step .payment-list .item {
      width: calc(50% - 25px); }
      @media only screen and (max-width: 640px) {
        .main-step .payment-list .item {
          width: 100%; }
          .main-step .payment-list .item + .item {
            margin: 20px; } }
      .main-step .payment-list .item input {
        display: none; }
      .main-step .payment-list .item label {
        text-align: center;
        display: block;
        width: 100%;
        padding: 19px 25px 35px;
        border: 2px solid #DCDCDC;
        border-radius: 3px;
        transition: all linear 0.5s; }
        @media only screen and (max-width: 640px) {
          .main-step .payment-list .item label {
            text-align: left;
            padding: 20px 17px 17px;
            border: 2px solid #DCDCDC; } }
        .main-step .payment-list .item label strong {
          font-weight: 400;
          font-size: 35px;
          line-height: 110%;
          letter-spacing: -0.035em;
          color: #031531;
          display: block;
          margin-bottom: 18px; }
          @media only screen and (max-width: 640px) {
            .main-step .payment-list .item label strong {
              font-weight: 600;
              font-size: 20px;
              line-height: 110%;
              margin-bottom: 10px; } }
        .main-step .payment-list .item label span {
          display: block;
          font-weight: 400;
          font-size: 17px;
          line-height: 120%;
          color: #000000; }
          @media only screen and (max-width: 640px) {
            .main-step .payment-list .item label span {
              font-weight: 400;
              font-size: 16px;
              line-height: 123%; } }
      .main-step .payment-list .item input:checked + label {
        border: 2px solid #21A074; }

/*# sourceMappingURL=test.css.map */
