@import "../_helpers/variables";

.steps {
    padding: 84px 15px 0;
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    @media only screen and (max-width : $responsive-size-big-mobile) {
        padding-top: 53px;
    }
    h2 {
        &.steps-title {
            position: absolute;
            top: 0;
            left: 59px;
            background: #21A074;
            border-radius: 4px;
            padding: 24px 30px 39px;
            font-weight: 400;
            font-size: 35px;
            line-height: 105%;
            letter-spacing: -0.035em;
            color: #FFFFFF;
            max-width: 500px;
            @media only screen and (max-width : $responsive-size-big-mobile) {
                max-width: initial;
                left: 26px;
                right: 29px;
                padding: 15px 20px 19px;
                font-weight: 400;
                font-size: 22px;
                line-height: 115%;
                letter-spacing: -0.035em;
                color: #FFFFFF;
            }
        }
    }
}
.main-step {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 80px 40px 100px;
    display: none;
    @media only screen and (max-width : $responsive-size-big-mobile) {
        padding: 45px 20px 20px 25px;
    }
    &.step-active {
        display: block;
    }
    .step-numbers {
        display: block;
        padding: 0 0 20px 0;
        color: #031531;
        opacity: 0.4;
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            padding-bottom: 6px;
        }
    }
    .two-column {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .column {
            width: 49%;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                width: 100%;
            }
        }
    }
    h2 {
        margin-bottom: 35px;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            margin-bottom: 20px;
        }
    }
    .sub-title {
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        line-height: 110%;
    }
    .btn-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            justify-content: flex-end;
        }
        .btn {
            &+.btn {
                margin-left: 10px;
            }
        }
        &.btn-holder-first-step {
            @media only screen and (max-width : $responsive-size-big-mobile) {
                margin-top: -35px;
            }
        }
    }
    .room-comfort,
    .room-check {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            &+.item {
                margin-left: 15px;
            }
        }
    }
    .checkbox-list {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 15px;
        }
    }
    .result-box {
        font-weight: 600;
        font-size: 37px;
        line-height: 110%;
        color: #031531;
        text-align: right;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            font-weight: 600;
            font-size: 22.3211px;
            line-height: 110%;
            text-align: left;
        }
        img {
            display: block;
            margin: 0 auto 16px;
            max-width: 100%;
            height: auto;
        }
    }
    .facade-list,
    .roofing-list {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 32%;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            input {
                display: none;
            }
            label {
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                color: #031531;
                display: block;
                width: 100%;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 3px;
                transition: all linear 0.5s;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 110%;
                }
            }
            input:checked + label {
                border: 2px solid #21A074;
            }
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                width: 100%;
            }
        }
    }
    .interior-list {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 15px;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            input {
                display: none;
            }
            label {
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                color: #031531;
                display: block;
                width: 100%;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 3px;
                transition: all linear 0.5s;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 110%;
                }
            }
            input:checked + label {
                border: 2px solid #21A074;
            }
            @media only screen and (max-width : $responsive-size-big-mobile) {
                width: 100%;
            }
        }
    }
    .payment-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 40px;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            padding-bottom: 20px;
        }
        .item {
            width: calc(50% - 25px);
            @media only screen and (max-width : $responsive-size-big-mobile) {
                width: 100%;
                &+.item {
                    margin: 20px;
                }
            }

            input {
                display: none;
            }
            label {
                text-align: center;
                display: block;
                width: 100%;
                padding: 19px 25px 35px;
                border: 2px solid #DCDCDC;
                border-radius: 3px;
                transition: all linear 0.5s;
                @media only screen and (max-width : $responsive-size-big-mobile) {
                    text-align: left;
                    padding: 20px 17px 17px;
                    border: 2px solid #DCDCDC;
                }
                strong {
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 110%;
                    letter-spacing: -0.035em;
                    color: #031531;
                    display: block;
                    margin-bottom: 18px;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 110%;
                        margin-bottom: 10px;
                    }
                }
                span {
                    display: block;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 120%;
                    color: #000000;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 123%;
                    }
                }
            }
            input:checked + label {
                border: 2px solid #21A074;
            }
        }
    }
}