@import "../_helpers/variables";

.banner {
    max-width: 1640px;
    background: url("../image/banner/bg-banner.png") no-repeat calc(100% + 93px) calc(100% - 92px);
    padding: 90px 0 0;
    margin: 0 auto 115px;
    width: 100%;
    @media only screen and (max-width : $responsive-size-big-laptop-screen) {
        padding: 90px 15px 0;
    }
    @media only screen and (max-width : $responsive-size-desktop) {
        //background-size: 720px 480px;
        background-size: 72% auto;
        background-position: 100% calc(100% - 55px);
    }
    @media only screen and (max-width : $responsive-size-big-tablet) {
        background-size: 720px 480px;
    }
    @media only screen and (max-width : $responsive-size-stand-mobile) {
        background-position: 0 calc(100% - 55px);
    }
    .container-banner {
        max-width: 1260px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #031531;
        width: 100%;
        h1 {
            font-weight: 400;
            font-size: 72px;
            line-height: 93%;
            letter-spacing: -0.035em;
            color: #031531;
            margin-bottom: 23px;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                font-size: 40px;
                line-height: 85%;
                margin-bottom: 12px;
            }
            span {
                color: rgba(33, 160, 116, 1);
            }
        }
        p {
            margin: 0;
        }
        .btn {
            width: auto;
            padding: 0 30px;
            min-height: 53px;
            margin-top: 60px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: none;
            color: #FFFFFF;
            display: inline-flex;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                margin-top: 30px;
            }
        }
        .top {
            max-width: 775px;
            margin-bottom: 78px;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                margin-bottom: 184px;
            }
        }
        .bottom {
            padding-right: 182px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            border-bottom: 1px solid #D1D1D1;
            @media only screen and (max-width : $responsive-size-desktop) {
                padding-right: 0;
                justify-content: center;
                border-bottom: none;
            }
            .item {
                padding: 20px 40px 30px;
                width: 227px;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                text-align: center;
                color: #FFFFFF;
                background: #22473A;
                border-radius: 5px 5px 0px 0px;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    padding-left: 0;
                    padding-right: 0;
                    width: calc(100% / 3 - 8px);
                    font-size: 14px;
                    line-height: 100%;
                }
                &+.item {
                    margin-left: 20px;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        margin-left: 8px;
                    }
                }
                &:nth-child(1) {
                    min-height: 125px;
                }
                &:nth-child(2) {
                    min-height: 170px;
                }
                &:nth-child(3) {
                    min-height: 215px;
                }
                .title {
                    margin-bottom: 7px;
                    display: block;
                    font-weight: 400;
                    font-size: 34px;
                    line-height: 101%;
                    text-align: center;
                    color: #FFFFFF;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        font-size: 25px;
                        line-height: 101%;
                    }
                }
                img {
                    display: block;
                    margin: 15px auto 0;
                }
            }
        }
    }
}

.steps {
    padding: 84px 15px 0;
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    @media only screen and (max-width : $responsive-size-big-mobile) {
        padding-top: 53px;
    }
    h2 {
        &.steps-title {
            position: absolute;
            top: 0;
            left: 59px;
            background: #21A074;
            border-radius: 4px;
            padding: 24px 30px 39px;
            font-weight: 400;
            font-size: 35px;
            line-height: 105%;
            letter-spacing: -0.035em;
            color: #FFFFFF;
            max-width: 500px;
            @media only screen and (max-width : $responsive-size-big-mobile) {
                max-width: initial;
                left: 26px;
                right: 29px;
                padding: 15px 20px 19px;
                font-weight: 400;
                font-size: 22px;
                line-height: 115%;
                letter-spacing: -0.035em;
                color: #FFFFFF;
            }
        }
    }
}
.steps {
    margin-bottom: 100px;
}
.main-step {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 80px 40px 100px;
    display: none;
    @media only screen and (max-width : $responsive-size-big-mobile) {
        padding: 45px 20px 20px 25px;
    }
    &.step-active {
        display: block;
    }
    .step-numbers {
        display: block;
        padding: 0 0 20px 0;
        color: #031531;
        opacity: 0.4;
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            padding-bottom: 6px;
        }
    }
    .two-column {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .column {
            width: 49%;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                width: 100%;
            }
        }
    }
    h2 {
        margin-bottom: 35px;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            margin-bottom: 20px;
        }
    }
    .sub-title {
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        line-height: 110%;
    }
    .btn-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            justify-content: flex-end;
        }
        .btn {
            &+.btn {
                margin-left: 10px;
            }
        }
        &.btn-holder-first-step {
            @media only screen and (max-width : $responsive-size-big-mobile) {
                margin-top: -35px;
            }
        }
    }
    .room-comfort,
    .room-check {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            &+.item {
                margin-left: 15px;
            }
        }
    }
    .checkbox-list {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 15px;
        }
    }
    .result-box {
        font-weight: 600;
        font-size: 37px;
        line-height: 110%;
        color: #031531;
        text-align: right;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            font-weight: 600;
            font-size: 22.3211px;
            line-height: 110%;
            text-align: left;
        }
        img {
            display: block;
            margin: 0 auto 16px;
            max-width: 100%;
            height: auto;
        }
    }
    .facade-list,
    .roofing-list {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 32%;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            input {
                display: none;
            }
            label {
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                color: #031531;
                display: block;
                width: 100%;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 3px;
                transition: all linear 0.5s;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 110%;
                }
            }
            input:checked + label {
                border: 2px solid #21A074;
            }
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                width: 100%;
            }
        }
    }
    .interior-list {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 15px;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            input {
                display: none;
            }
            label {
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                color: #031531;
                display: block;
                width: 100%;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 3px;
                transition: all linear 0.5s;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 110%;
                }
            }
            input:checked + label {
                border: 2px solid #21A074;
            }
            @media only screen and (max-width : $responsive-size-big-mobile) {
                width: 100%;
            }
        }
    }
    .payment-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 40px;
        @media only screen and (max-width : $responsive-size-big-mobile) {
            padding-bottom: 20px;
        }
        .item {
            width: calc(50% - 25px);
            @media only screen and (max-width : $responsive-size-big-mobile) {
                width: 100%;
                &+.item {
                    margin: 20px;
                }
            }

            input {
                display: none;
            }
            label {
                text-align: center;
                display: block;
                width: 100%;
                padding: 19px 25px 35px;
                border: 2px solid #DCDCDC;
                border-radius: 3px;
                transition: all linear 0.5s;
                @media only screen and (max-width : $responsive-size-big-mobile) {
                    text-align: left;
                    padding: 20px 17px 17px;
                    border: 2px solid #DCDCDC;
                }
                strong {
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 110%;
                    letter-spacing: -0.035em;
                    color: #031531;
                    display: block;
                    margin-bottom: 18px;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 110%;
                        margin-bottom: 10px;
                    }
                }
                span {
                    display: block;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 120%;
                    color: #000000;
                    @media only screen and (max-width : $responsive-size-big-mobile) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 123%;
                    }
                }
            }
            input:checked + label {
                border: 2px solid #21A074;
            }
        }
    }
}

.team-box {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 100px;
    width: 100%;
    @media only screen and (max-width : $responsive-size-big-laptop-screen) {
        padding: 0 15px 0;
    }
    @media only screen and (max-width : 1259px) {
        flex-direction: column;
    }
    .title-column {
        width: 34.35%;
        @media only screen and (max-width : 1259px) {
            width: 100%;
        }
        h2 {
            font-weight: 400;
            font-size: 45px;
            line-height: 100%;
            letter-spacing: -0.035em;
            color: #031531;
            @media only screen and (max-width : 1259px) {
                margin-bottom: 15px;
            }
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                font-size: 27px;
                line-height: 100%;
            }
        }
    }
    .slider-column {
        position: relative;
        width: 59.7%;
        @media only screen and (max-width : 1259px) {
            width: 100%;
        }
        .text {
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #01193E;
            margin-bottom: 32px;
            max-width: 600px;
            @media only screen and (max-width : 1259px) {
                max-width: 100%;
            }
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                font-size: 16px;
                line-height: 120%;
            }
            p {
                margin: 0;
                &+p {
                    margin-top: 20px;
                }
            }
        }
        .team-slider {
            position: relative;
            @media only screen and (max-width : 1259px) {
                margin: 0 15px;
            }
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                padding-bottom: 86px;
            }
            &:after {
                position: absolute;
                top: -17px;
                left: -30px;
                z-index: 99;
                width: 53px;
                height: 53px;
                background: #21A074;
                border-radius: 3px;
                display: block;
                content: '';
            }
            .slick-arrow {
                position: absolute;
                top: 0;
                display: block;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                width: 17px;
                height: 31px;
                min-width: initial;
                min-height: initial;
                padding: 0;
                @media only screen and (max-width : $responsive-size-stand-mobile) {
                    top: initial;
                    bottom: 15px;
                }
                svg {
                    display: block;
                    margin: 0;
                }
                &:hover {
                    svg {
                        path {
                            stroke: rgba(33, 160, 116, 1);
                        }
                    }
                }
                &.slick-prev {
                    right: 38px;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        right: 45px;
                    }
                }
                &.slick-next {
                    right: 0;
                }
            }
            .slick-slide {
                &>div {
                    width: 100%;
                }
            }
            .slide {
                .holder-slide {
                    display: flex;
                    justify-content: space-between;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        flex-direction: column;
                    }
                    .img {
                        width: 52.95%;
                        min-height: 440px;
                        background: #fff;
                        @media only screen and (max-width : $responsive-size-stand-mobile) {
                            width: 100%;
                            min-height: 50vw;
                        }
                        img {
                            display: block;
                            max-width: 100%;
                            height: auto;
                            @media only screen and (max-width : 1259px) {
                                width: 100%;
                            }
                        }
                    }
                    .info {
                        width: 40.28%;
                        padding-top: 114px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                        color: #031531;
                        @media only screen and (max-width : $responsive-size-stand-mobile) {
                            width: 100%;
                            padding-top: 10px;
                        }
                        .post {
                            display: block;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 120%;
                            text-transform: uppercase;
                            color: #031531;
                        }
                        .name {
                            font-weight: 400;
                            font-size: 35px;
                            line-height: 130%;
                            color: #21A074;
                            margin-bottom: 15px;
                            display: block;
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .holder-slider-nav {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40.28%;
            overflow: hidden;
            height: 87px;
            @media only screen and (max-width : $responsive-size-stand-mobile) {
                width: calc(100% - 82px);
                max-width: 250px;
                right: initial;
                left: 0;
                height: 50px;
            }
        }
        .team-slider-nav {
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(100% + 66px);
            .slide {
                padding: 0 8px;
                .img {
                    width: 87px;
                    height: 87px;
                    background: #fff;
                    overflow: hidden;
                    margin: 0 auto;
                    cursor: pointer;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        width: 50px;
                        height: 50px;
                    }
                }
                img {
                    display: block;
                    max-width: 87px;
                    @media only screen and (max-width : $responsive-size-stand-mobile) {
                        max-width: 50px;
                    }
                }
            }
        }
    }
}