@import "../../_helpers/variables";
input,
textarea,
select {
  font-size: 16px;
}
.radio {
  input {
    display: none;
    &:checked + label {
      &:before {
        background: #031531;
      }
    }
    &.error + label {
      &:after {
        border: 1px solid red;
      }
    }
  }
  label {
    padding-left: 36px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    min-height: 28px;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 28px;
      height: 28px;
      border-radius: 50%;
      z-index: 1;
      box-sizing: border-box;
      background: #EFEFEF;
      border: 1px solid #031531;
    }
    &:before {
      position: absolute;
      top: 6px;
      left: 6px;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      background: transparent;
      border-radius: 50%;
      transition: all linear 0.2s;
      z-index: 2;
    }
  }
}
.radio-comfort {
  position: relative;
  input {
    display: none;
    &:checked + label {
      background: #21A074;
      border-radius: 3px;
      border: 1px solid #21A074;
      color: #fff;
    }
    &.error + label {
      border: 1px solid red;
    }
  }
  label {
    padding:13px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    min-height: 37px;
    border: 1px solid #031531;
    border-radius: 3px;
    transition: all linear 0.2s;
    i {
      position: absolute;
      background: #031531;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -6px;
      right: -7px;
      svg {
        display: block;
      }
    }
    .info {
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      padding: 14px;
      font-weight: 400;
      font-size: 14px;
      line-height: 110%;
      color: #031531;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      width: 240px;
      z-index: 10;
    }
  }
}
.checkbox {
  input {
    display: none;
    &:checked + label {
      &:before {
        background: #21A074;
      }
    }
    &[disabled] + label {
      cursor: initial;
      opacity: 0.7;
      &:after {
        opacity: 0.7;
      }
      &:before {
        background: #21A074;
        opacity: 0.7;
      }
    }
    &.error + label {
      &:after {
        border: 1px solid red;
      }
    }
  }
  label {
    padding-left: 27px;
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      background: #FFFFFF;
      z-index: 1;
      transition: all linear 0.2s;
      box-sizing: border-box;
      border: 1px solid #031531;
      border-radius: 2px;
    }
    &:before {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      background: transparent;
      border-radius: 2px;
      transition: all linear 0.2s;
      z-index: 2;
    }
  }
}
.form-calc {
  background:#21A074 url("../image/bg-form.png") no-repeat 100% 100%;
  border-radius: 4px;
  padding: 30px;
  h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 105%;
    text-align: center;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    max-width: 624px;
    width: 100%;
    margin: 0 auto 30px;
  }
  .input-list {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;
    .item {
      &+.item {
        margin-top: 10px;
      }
      input {
        height: 45px;
        width: 100%;
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        background: none;
        outline: none;
        padding: 11px 17px 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        &::placeholder {
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }
    }
  }
  input[type="submit"] {
    cursor: pointer;
    height: 45px;
    background: #FFFFFF;
    border-radius: 3px;
    width: initial;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 11px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    margin: 20px auto 0;
  }
}
