@import "../../_helpers/variables";
input,
textarea,
select {
  font-size: 16px;
}
.radio {
  input {
    display: none;
    &:checked + label {
      &:before {
        background: #031531;
      }
    }
    &.error + label {
      &:after {
        border: 1px solid red;
      }
    }
  }
  label {
    padding-left: 36px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    min-height: 28px;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 28px;
      height: 28px;
      border-radius: 50%;
      z-index: 1;
      box-sizing: border-box;
      background: #EFEFEF;
      border: 1px solid #031531;
    }
    &:before {
      position: absolute;
      top: 6px;
      left: 6px;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      background: transparent;
      border-radius: 50%;
      transition: all linear 0.5s;
      z-index: 2;
    }
  }
}
.radio-comfort {
  input {
    display: none;
    &:checked + label {
      background: #21A074;
      border-radius: 3px;
      border: 1px solid #21A074;
      color: #fff;
    }
    &.error + label {
      border: 1px solid red;
    }
  }
  label {
    padding:13px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    min-height: 37px;
    border: 1px solid #031531;
    border-radius: 3px;
    transition: all linear 0.5s;
  }
}
.checkbox {
  input {
    display: none;
    &:checked + label {
      &:before {
        background: #21A074;
      }
    }
    &.error + label {
      &:after {
        border: 1px solid red;
      }
    }
  }
  label {
    padding-left: 27px;
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #031531;
    cursor: pointer;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      background: #FFFFFF;
      z-index: 1;
      transition: all linear 0.5s;
      box-sizing: border-box;
      border: 1px solid #031531;
      border-radius: 2px;
    }
    &:before {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      background: transparent;
      border-radius: 2px;
      transition: all linear 0.5s;
      z-index: 2;
    }
  }
}
